<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="author" content="Safa Aru - 101331910">
  <meta name="author2" content="Hakan Inel - 101213098">
  <meta name="author3" content="Onur Korkmaz - 101303363">
  <meta name="author4" content="Ahmet Buykbas - 101304595">
  <meta charset="UTF-8">
  <title></title>
</head>
  <body>
    <div th:fragment="header">
      <div class="navbarRow2">
        <div class="containerNavbar2">
          <div class="navbar">
            <ul id="nav-lists2">
              <li><a href="/shoppingCart"> View Shopping List</a></li>
              <li><a href="/my-recipes"> View My Recipes</a></li>
              <li><a href="/fav-items"> View My Favorite Recipes</a></li>
              <li><a href="/view-profile">Edit Profile</a></li>
              <li><a href="/my-events">View My Event Plan</a></li>
            </ul>
          </div>
        </div>
      </div>
      <br><br>
    </div>
  </body>
</html>